.loginWrapper{
    height: 100%;
    width: 100%;
}
.loginBgContainer{
    height: 100%;
    width: 70%;
    background: #000;
    float: left;
}
.loginContainer{
    width: 30%;
    height: 100%;
    float: left;
}